include ./quest

mixin profile
    section.section-profile
        .container
            .profile
                .profile__title Анкета 
                .profile__form 
                    form(action='#' method='POST' data-pf="form")
                        .form
                            fieldset
                                .form__item
                                    .form__subitem: +input-material({
                                        label: 'Имя',
                                        placeholder: 'Имя, латиницей как в пасп.',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Фамилия',
                                        placeholder: 'Фамилия, латиницей как в пасп.',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Предыдущая фамилия',
                                        placeholder: 'Предыдущая фамилия, как в пасп.',
                                        required: true,
                                        tooltip: 'Если есть (латиницей)'
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Родовая фамилия',
                                        placeholder: 'Родовая фамилия, литиницей',
                                        tooltip: 'Фамилия в свидетельстве о рождении'
                                    })
                                .form__item
                                    .form__subitem: +input-material({
                                        label: 'Предыдущее имя',
                                        placeholder: 'Предыдущее имя',
                                        tooltip: 'Если есть (латиницей)'
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Имя отца',
                                        placeholder: 'Имя отца, латиницей как в пасп. ',
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Имя матери',
                                        placeholder: 'Имя матери, латиницей как в пасп',
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Девичья фамилия матери',
                                        placeholder: 'Девичья фамилия матери',
                                        tooltip: 'Латиницей как в паспорте'
                                    })
                                .form__item
                                    .form__subitem
                                        .form__item
                                            .form__subitem: +input-material({
                                                label: 'Дата рожден.',
                                                placeholder: 'ДД.ММ.ГГГГ',
                                                mask: 'date'
                                            })
                                            .form__subitem
                                                select(placeholder="Пол" data-label="Пол")
                                                    
                                                    option(value="" selected="selected") Муж
                                                    option(value="") Жен
                                    
                                    .form__subitem: +input-material({
                                        label: 'Город рождения',
                                        placeholder: 'Город рождения, на польском',
                                    })
                                    .form__subitem
                                        select(placeholder="Национальность" data-label="Национальность" data-ajax="/json/nationality.json")
                                            option(value="2") Женат
                                            option(value="3" ) Замужем
                                    .form__subitem
                                        select(placeholder="Страна рождения" data-label="Страна" data-ajax="/json/country.json" )
                                             
                                            option(value="1") Беларусь
                                            option(value="2") Россия

                                .form__item

                                    .form__subitem
                                        select(placeholder="Семейное положение" data-label="Семейное положение" data-ajax="/json/family-status.json")
                                            
                                            option(value="1") Холост
                                            option(value="2") Женат
                                            option(value="3" ) Замужем
                                           

                                    .form__subitem
                                        select(placeholder="Образование" data-label="Образование" data-ajax="/json/education.json" multiple="multiple")
                                             
                                            option(value="1") Высшее
                                            option(value="2") Среднее

                                    .form__subitem: +input-material({
                                        label: 'Рост, см',
                                        placeholder: 'Рост',
                                         mask: 'number'
                                    })

                                    .form__subitem
                                        select(placeholder="Цвет глаз" data-label="Цвет глаз" data-ajax="/json/eye-color.json")
                                .form__item

                                    .form__subitem
                                        select(placeholder="Особые приметы" data-label="Особые приметы" data-ajax="/json/signs.json")

                                    .form__subitem: +input-material({
                                        label: 'Номер PESEL',
                                        placeholder: 'Номер PESEL',
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Номер паспорта',
                                        placeholder: 'Номер паспорта',
                                    })
                            fieldset
                                legend Основание нахождения в Польше

                                .form__item
                                    .form__subitem
                                        select(placeholder="Основание нахождения в Польше" data-label="Основание" data-ajax="/json/reasons.json")
                                          
                                    .form__subitem
                                        .form__item
                                             
                                            .form__subitem: +input-material({
                                                label: 'Номер док.',
                                                placeholder: 'Номер',
                                                tooltip: 'Возвращение из Европы без печати в паспорте о пересечении границы тоже считается'
                                            })
                                             
                                            .form__subitem: +input-material({
                                                label: 'Дата выдачи',
                                                placeholder: 'ДД.ММ.ГГГГ',
                                                mask: 'date'
                                            })
                                     
                                    .form__subitem: +input-material({
                                        label: 'Начало действия',
                                        placeholder: 'ДД.ММ.ГГГГ',
                                        mask: 'date'
                                    })
                                    
                                    .form__subitem: +input-material({
                                        label: 'Конец действия',
                                        placeholder: 'ДД.ММ.ГГГГ',
                                        mask: 'date'
                                    })

                            fieldset
                                legend Адрес проживания в Польше

                                .form__item
                                    .form__subitem
                                        select(placeholder="Город" data-label="Город")
                                         
                                            option(value="1") Варшава
                                            option(value="2") Вроцлав
                                    

                                    .form__subitem: +input-material({
                                            label: 'Улица',
                                            placeholder: 'Улица',
                                            tooltip: 'Если нет в списке, впишите на польском в ручную'
                                        })

                                         
                                    .form__subitem
                                        .form__item
                                             
                                            .form__subitem: +input-material({
                                                label: 'Дом',
                                                placeholder: 'Номер дома',
                                                mask: 'number'
                                            })
                                             
                                            .form__subitem: +input-material({
                                                label: 'Квартира',
                                                placeholder: 'Номер Кв.',
                                            })
                                     
                                    .form__subitem: +input-material({
                                        label: 'Почтовый код',
                                        placeholder: '_ _ - _ _ _ _',
                                        mask: 'postcode'
                                    })

                            fieldset
                                legend Информация о членах семьи, проживающих на территории Польши (если нет — не заполняем)

                                .form__group(data-pf="family")
                                    .form__group-title 1.
                                    .form__item
                                        .form__subitem: +input-material({
                                                    label: 'Имя и фамилия члена семьи',
                                                    placeholder: 'Имя и фамилия, как в пасп.',
                                                })
                                        .form__subitem
                                            select(placeholder="Пол" data-label="Пол")
                                                 
                                                option(value="1") МУЖ
                                                option(value="2") ЖЕН

                                        .form__subitem: +input-material({
                                                    label: 'Дата рождения',
                                                    placeholder: 'ДД.ММ.ГГГГ',
                                                    mask: 'date'
                                                })

                                        .form__subitem
                                            select(placeholder="Степень родства" data-label="Степень родства" data-ajax="/json/kinship.json")
                                                
                                                option(value="1") Первая
                                                option(value="2") Вторая

                                    .form__item
                                        
                                        .form__subitem
                                            select(placeholder=" Город проживания" data-label="Город проживания ")
                                                
                                                option(value="1") Варшава
                                                option(value="2") Вроцлав
                                        .form__subitem
                                            select(placeholder="Гражданство" data-label="Гражданство")
                                                
                                                option(value="1") БЕЛАРУС
                                                option(value="2") УКРАИНЕЦ
                                        .form__subitem
                                            select(placeholder="Подается ли член семьи на ВНЖ" data-label="Подается ли на ВНЖ.")
                                               
                                                option(value="1") Да
                                                option(value="2") Нет
                                        .form__subitem
                                            select(placeholder="Находится ли на содержании" data-label="Находится ли на содержании")
                                               
                                                option(value="1") Да
                                                option(value="2") Нет

                                .form__item.form__repeat(data-pf="add-family")
                                    span.ic_24.ic_plus
                                    | Добавить члена семьи

                                     
                                     
                                   
                            fieldset
                                legend Прочая информация

                                .form__item
                                    .form__subitem.form__subitem--w25: +input-material({
                                                label: 'Дата последнего въезда в Польшу',
                                                placeholder: 'ДД.ММ.ГГГГ',
                                                mask: 'date',
                                                tooltip: 'Возвращение из Европы без печати в паспорте <br> о пересечении границы тоже считается'
                                            })

                                    .form__subitem: +input-material({
                                                label: 'Периоды пребывания в Польше',
                                                placeholder: 'Укажите все периоды пребывания в Польше (в формате ДД.ММ.ГГГГ - ДД.ММ.ГГГГ; и тд) ',
                                            })

                                .form__label Поездки за предыдущие 5 лет, в том числе в Польшу:

                                .form__item
                                    .form__subitem
                                        .flex-column(data-pf="trip")
                                            +checkbox-radio('SĄ (есть)', 'pz', true, '1')
                                            +checkbox-radio('BRAK (нет)', 'pz', false, '0') 

                                .form__item(data-pf="trip-fields")
                                    .form__subitem
                                        select(placeholder="Страна" data-label="Страна" data-ajax="/json/country.json")
                                            
                                            option(value="1") Польша
                                            option(value="2") Беларусь
                                    .form__subitem.form__subitem--w50: +input-material({
                                            label: 'Период поездки (перемещение по Европе без отметок в паспорте тоже учитавается)',
                                            placeholder: 'Укажите период поездки',
                                            tooltip: ' Укажите точные даты (например, 01.07.2024 - 14.07.2024), <br> если не помните точные даты, укажите месяц и год (07.2024)'
                                        })

                                    .form__subitem
                                        select(placeholder="Пояснения" data-label="Пояснения")
                                             
                                            option(value="1") Пояснения 1
                                            option(value="2") Пояснения 2

                                .form__item.form__show(data-pf="add-trip")
                                    span.ic_24.ic_plus
                                    | Добавить поездку 

                                .form__label Информация о финансовых средствах, покрывающих расходы:

                                .form__item
                                    .form__subitem
                                        .group-subitem(data-pf="group")
                                            +checkbox('Наемный работник', 'tw', false, 1)
                                            select(placeholder="Тип договора" data-label="Тип договора")
                                                
                                                option(value="1") UMOWA O PRACĘ
                                                option(value="2") Договор
                                    .form__subitem
                                        .group-subitem(data-pf="group")
                                            +checkbox('ИП', 'tw', false, 2)
                                            +input-material({
                                                    label: 'NIP',
                                                    placeholder: 'Укажите NIP',
                                            })
                                    .form__subitem
                                        .group-subitem(data-pf="group")
                                            +checkbox('Спулка', 'tw', false, 3)
                                            +input-material({
                                                    label: 'KRS',
                                                    placeholder: 'Укажите Укажите KRS',
                                                })

                                                

                                .form__item
                                    .form__subitem
                                        select(placeholder="Медицинская страховка" data-label="Медицинская страховка")
                                          
                                            option(value="2") UBEZPIECZENIE PRYWATNE
                                            option(value="2") страховка
                                    .form__subitem
                                        select(placeholder="Информация об обременениях" data-label="Алименты, суд. дело и т.д." data-tooltip="Информация об обременениях на территории Польши <br> или за ее пределами (например, алименты, судебное дело)")
                                            
                                            option(value="2") Алименты
                                            option(value="2") NIE
                                    .form__subitem
                                        +input-material({
                                                label: 'Номер телефона в Польше',
                                                placeholder: 'Номер телефона в Польше',
                                            })

                                

                            +quest

                            .form__item
                                .form__subitem: button.btn(type="submit" data-pf="submit") Сохранить