include ./quest

mixin profile
    section.section-profile
        .container
            .profile.profile--manager
                .profile__title Анкета 
                .profile__form 
                    form(action='#' method='POST' data-pf="form")
                        .form
                            fieldset
                                .form__item
                                    .form__subitem: +input-material({
                                        label: 'Имя',
                                        placeholder: 'Имя, латиницей как в пасп.',
                                        value: 'YULIYA',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Фамилия',
                                        placeholder: 'Фамилия, латиницей как в пасп.',
                                        value: 'ARTSEMYEVA',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Предыдущая фамилия',
                                        placeholder: 'Предыдущая фамилия, как в пасп.',
                                        value: '-',
                                        required: true
                                       
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Родовая фамилия',
                                        placeholder: 'Родовая фамилия, литиницей',
                                        value: 'ARTSEMYEVA',
                                        required: true
                                        
                                    })

                                .form__item
                                    .form__subitem: +input-material({
                                        label: 'Предыдущее имя',
                                        placeholder: 'Предыдущее имя',
                                         value: '—',
                                         required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Имя отца',
                                        placeholder: 'Имя отца, латиницей как в пасп. ',
                                        value: 'MIKALAI',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Имя матери',
                                        placeholder: 'Имя матери, латиницей как в пасп',
                                        value: 'VOLHA',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Девичья фамилия матери',
                                        placeholder: 'Девичья фамилия матери',
                                         value: 'KMITA',
                                         required: true
                                    })

                                .form__item
                                    .form__subitem
                                        .form__item
                                            .form__subitem: +input-material({
                                                label: 'Дата рожден.',
                                                placeholder: 'ДД.ММ.ГГГГ',
                                                value: '2000.10.25',
                                                reverse: true,
                                                required: true
                                            })
                                            .form__subitem: +input-material({
                                                label: 'Пол',
                                                placeholder: 'Пол',
                                                value: 'K',
                                                required: true
                                            })
                                    
                                    .form__subitem: +input-material({
                                        label: 'Город рождения',
                                        placeholder: 'Город рождения, на польском',
                                        value: 'HOMEL',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Национальность',
                                        placeholder: 'Национальность',
                                        value: 'BIAŁORUSKA',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Страна',
                                        placeholder: 'Страна',
                                        value: 'BIAŁORUŚ',
                                        required: true
                                    })
                                .form__item

                                    .form__subitem: +input-material({
                                        label: 'Семейное положение',
                                        placeholder: 'Семейное положение',
                                        value: 'PANNA',
                                        required: true
                                    })

                                    .form__subitem: +input-material({
                                        label: 'Образование',
                                        placeholder: 'Образование',
                                        value: 'WYŻSZE',
                                        required: true
                                    })

                                    .form__subitem: +input-material({
                                        label: 'Рост, см',
                                        placeholder: 'Рост',
                                         mask: 'number',
                                         value: '168',
                                         required: true
                                    })

                                    .form__subitem: +input-material({
                                        label: 'Цвет глаз',
                                        placeholder: 'Цвет глаз',
                                        value: 'BRĄZOWOZIELONE',
                                        required: true
                                    })


                                .form__item

                                    .form__subitem: +input-material({
                                        label: 'Особые приметы',
                                        placeholder: 'BRAK',
                                        value: 'BRAK',
                                        required: true
                                    })

                                    .form__subitem: +input-material({
                                        label: 'Номер PESEL',
                                        placeholder: '96060314502',
                                        value: '96060314502',
                                        required: true
                                    })
                                    .form__subitem: +input-material({
                                        label: 'Номер паспорта',
                                        placeholder: 'BM2737349',
                                        value: 'BM2737349',
                                        required: true
                                    })
                                    .form__subitem
                                        +input-material({
                                            label: 'Номер телефона в Польше',
                                            placeholder: 'Номер телефона в Польше',
                                            value: '575248796',
                                            required: true
                                        })
                            fieldset
                                legend Основание нахождения в Польше

                                .form__item
                                    .form__subitem: +input-material({
                                                label: 'Основание нахождения в Польше',
                                                placeholder: 'Основание нахождения в Польше',
                                                value: 'PESEL UKR'
                                            })

                                    .form__subitem
                                        .form__item
                                             
                                            .form__subitem: +input-material({
                                                label: 'Номер док.',
                                                placeholder: 'Номер',
                                                value: '5879899995'
                                            })
                                             
                                            .form__subitem: +input-material({
                                                label: 'Дата выдачи',
                                                placeholder: 'ДД.ММ.ГГГГ',
                                                value: "25.10.2000"
                                            })
                                     
                                    .form__subitem: +input-material({
                                        label: 'Начало действия',
                                        placeholder: 'Номер',
                                        value: '25.10.2000'
                                    })
                                    
                                    .form__subitem: +input-material({
                                        label: 'Конец действия',
                                        placeholder: 'Конец действия',
                                        value: '25.10.2000'
                                    })

                            fieldset
                                legend Адрес проживания в Польше

                                .form__item
                                    .form__subitem: +input-material({
                                        label: 'Город',
                                        placeholder: 'Город',
                                        value: 'WARSZAWA'
                                    })
                                     
                                    .form__subitem
                                         .form__item
                                            .form__subitem: +input-material({
                                                label: 'Улица',
                                                placeholder: 'Улица',
                                                value: 'WIKTORJA'
                                            })
                                            .form__subitem: +input-material({
                                                label: 'Дом',
                                                placeholder: 'Дом',
                                                value: '12'
                                            })
                                    .form__subitem
                                        .form__item
                                             
                                            .form__subitem: +input-material({
                                                label: 'Квартира',
                                                placeholder: 'Номер квартиры',
                                                value: 'Квартира',
                                                mask: '-'
                                            })
                                             
                                            .form__subitem: +input-material({
                                                label: 'Почтовый код',
                                                placeholder: '_ _ - _ _ _ _',
                                                value: '05-500'
                                            })
                                     
                                    .form__subitem: +input-material({
                                        label: 'Полный адрес',
                                        placeholder: 'Полный адрес',
                                        value: 'WARSAWA, UL. WIKTORJA 12, 05-5',
                                    })

                            fieldset
                                legend Информация о членах семьи, проживающих на территории Польши (если нет — не заполняем)

                                .form__group(data-pf="family")

                                    .form__group-title 1.

                                    .form__item
                                        .form__subitem: +input-material({
                                                label: 'Имя и фамилия члена семьи',
                                                placeholder: 'Имя и фамилия, как в пасп.',
                                                value: 'YELYZAVETA RYZHKOVA',
                                            })
                                        .form__subitem: +input-material({
                                                label: 'Пол',
                                                placeholder: 'Пол',
                                                value: 'К',
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Дата рождения',
                                                placeholder: 'ДД.ММ.ГГГГ',
                                                value: '01.08.2002',
                                                mask: 'date'
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Степень родства',
                                                placeholder: 'Степень родства',
                                                value: 'ŻONA',
                                            })

                                    .form__item

                                        .form__subitem: +input-material({
                                                label: 'Город проживания',
                                                placeholder: 'Город проживания',
                                                value: 'WOŁOMIN'
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Гражданство',
                                                placeholder: 'Гражданство',
                                                value: 'UKRAINA'
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Подается ли на ВНЖ.',
                                                placeholder: 'Подается ли на ВНЖ.',
                                                value: 'TAK'
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Находится ли на содержании',
                                                placeholder: 'Находится ли на содержании',
                                                value: 'TAK'
                                            })
                                        
                                      
                                .form__group(data-pf="family")

                                    .form__group-title 2.

                                    .form__item
                                        .form__subitem: +input-material({
                                                label: 'Имя и фамилия члена семьи',
                                                placeholder: 'Имя и фамилия, как в пасп.',
                                                value: 'YELYZAVETA RYZHKOVA',
                                            })
                                        .form__subitem: +input-material({
                                                label: 'Пол',
                                                placeholder: 'Пол',
                                                value: 'К',
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Дата рождения',
                                                placeholder: 'ДД.ММ.ГГГГ',
                                                value: '01.08.2002',
                                                mask: 'date'
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Степень родства',
                                                placeholder: 'Степень родства',
                                                value: 'ŻONA',
                                            })

                                    .form__item

                                        .form__subitem: +input-material({
                                                label: 'Город проживания',
                                                placeholder: 'Город проживания',
                                                value: 'WOŁOMIN'
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Гражданство',
                                                placeholder: 'Гражданство',
                                                value: 'UKRAINA'
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Подается ли на ВНЖ.',
                                                placeholder: 'Подается ли на ВНЖ.',
                                                value: 'TAK'
                                            })

                                        .form__subitem: +input-material({
                                                label: 'Находится ли на содержании',
                                                placeholder: 'Находится ли на содержании',
                                                value: 'TAK'
                                            })
                                        
                                      

                             
                                     
                                   
                            fieldset
                                legend Прочая информация

                                .form__item
                                    .form__subitem.form__subitem--w25: +input-material({
                                                label: 'Дата последнего въезда в Польшу',
                                                placeholder: 'ДД.ММ.ГГГГ',
                                                value: '25.10.2020',
                                                reverse: true
                                            })

                                    .form__subitem: +input-material({
                                                label: 'Периоды пребывания в Польше',
                                                placeholder: 'Укажите все периоды пребывания в Польше (в формате ДД.ММ.ГГГГ - ДД.ММ.ГГГГ; и тд) ',
                                                value: '10.01.2019 - 15.02.2019; 10.01.2019 - 15.02.2019; 25.10.2020 — NADAL (PESEL UKR)'
                                            })

                                .form__label Поездки за предыдущие 5 лет, в том числе в Польшу:

                               

                                .form__item(data-pf="trip-fields")
                                    .form__subitem
                                        +input-textarea({
                                            label: 'Страны периоды поездок, пояснения ',
                                            placeholder: 'Укажите период поездки',
                                            val: 'UKRAINA (POBYT); TURCJA 09.2022; MOŁDAWIA 02.04.2024 - 12.04.2024; RUMUNIA 12.04.2024 - 13.04.2024; WĘGRY 13.04.2024- 13.04.2024; SŁOWACJA 13.04.2024-14.04.2024; CZECHY 14.04.2024'
                                        })

                               

                                .form__label Информация о финансовых средствах, покрывающих расходы:

                                .form__item
                                    .form__subitem
                                        +input-material({
                                                label: 'Тип договора',
                                                placeholder: 'Тип договора',
                                                value: 'UMOWA O PRACĘ'
                                            }) 
                                            
                                    .form__subitem
                                         
                                            +input-material({
                                                    label: 'Медицинская страховка',
                                                    placeholder: 'Медицинская страховка',
                                                    value: 'UBEZPIECZENIE PRYWATNE',
                                            })
                                    .form__subitem
                                         
                                        +input-material({
                                                label: 'Информация об обременениях',
                                                placeholder: 'Информация об обременениях',
                                                value: 'NIE',
                                            })


                                .form__label Ответственный исполнитель

                                .form__item
                                    .form__subitem
                                        +input-material({
                                            label: 'ФИО',
                                            placeholder: 'Впишите имя и фамилию',
                                        }) 
                                            
                                    .form__subitem
                                        +input-material({
                                            label: 'E-mail',
                                            placeholder: 'Ваш E-mail',
                                        })

                                    .form__subitem
                                        .form__item
                                            .form__subitem
                                                +input-material({
                                                    label: 'Телефон',
                                                    placeholder: 'Телефон',
                                                })

                                            .form__subitem
                                                +input-material({
                                                    label: '№ удост. док.',
                                                    placeholder: '№',
                                                })
                                

                                

                            +quest

                            .form__item
                                .form__subitem: button.btn.btn-line(type="submit" data-pf="submit") Изменить