.section-profile {
    overflow: visible;
}

.profile {
    padding: 64px 0;
}

.profile__title {
    font-size: 36px;
    padding-bottom: 0;
}



.form {

    & filedset {
        padding-top: 24px;
    }

    & legend {
        font-size: 24px;
    }

    &__group {
        padding-top: 5px;
        padding-bottom: 20px;

        &-title {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }

    &__repeat {
        padding-top: 40px;
        padding-bottom: 28px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;

        @media screen and (max-width: $w576) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 0;
        }

        &:hover {
            color: var(--main);
        }
    }

    &__label {
        padding-top: 56px;
        text-transform: none;
        font-size: 18px;
        font-weight: normal;
        padding-bottom: 24px;
    }

    &__show {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 18px;
        cursor: pointer;

        @media screen and (max-width: $w576) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            color: var(--main);
        }
    }

    &__subitem {
        @media screen and (min-width: $w1200) {
            width: 25%;
        }
    }

    & .btn {
        margin-top: 40px;

        @media screen and (max-width: $w576) {
            width: 100%;
        }
    }

}

.group-subitem {
    width: 100%;

    & .checkbox {
        padding-bottom: 20px;
    }

}

.form-question {
    padding: 36px 0;
    border-bottom: 1px solid var(--color-border);

    @media screen and (min-width: $w992) {
        display: flex;
        align-items: center;
    }

    &__text {
        @media screen and (min-width: $w992) {
            max-width: 62%;
            width: 100%;
            flex-grow: 1;
            padding-right: 24px;
        }
    }

    &__option {
        display: flex;
        gap: 32px;

        @media screen and (max-width: $w992) {
            padding-top: 16px;
        }
    }
}

.form-question:first-child {
    border-top: 1px solid #ccc;
}

.input-tooltip {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjcuMjUiIHN0cm9rZT0iI0I2QzJFMiIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48cGF0aCBkPSJNNi44MjEgMTNWNi40NTVoMi4zNTJWMTNINi44MjF6bTEuMTc2LTcuMjI3Yy0uMzE4IDAtLjU5LS4xMDUtLjgxOC0uMzE2YS45OTcuOTk3IDAgMDEtLjM0LS43NThjMC0uMjk2LjExMy0uNTQ4LjM0LS43NTkuMjI3LS4yMS41LS4zMTUuODE4LS4zMTUuMzIxIDAgLjU5NC4xMDUuODE5LjMxNS4yMjcuMjEuMzQuNDYzLjM0Ljc1OWEuOTk3Ljk5NyAwIDAxLS4zNC43NThjLS4yMjUuMjEtLjQ5OC4zMTYtLjgxOS4zMTZ6IiBmaWxsPSIjOTRBM0I4Ii8+PC9zdmc+);
    cursor: pointer;

    &:hover {

        &::after,
        &::before {
            opacity: 1;
        }
    }
}




.ic_24 {
    width: 24px;
    height: 24px;
}

.ic_plus {

    display: block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjQiIGZpbGw9IiM1RjNBQTAiPjxwYXRoIGQ9Ik00NDAtNDQwSDIwMHYtODBoMjQwdi0yNDBoODB2MjQwaDI0MHY4MEg1MjB2MjQwaC04MHYtMjQweiIvPjwvc3ZnPg==);
    border: 2px solid var(--main);
    background-position: -6px -2px;
    background-size: 32px auto;
    border-radius: 7px;
    margin-right: 13px;
    margin-left: 13px;
    cursor: pointer;
}

.tooltip-box-item {
    position: fixed;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    background-color: #2D3643;
    font-size: 13px;
    width: auto;
    max-width: 500px;
    padding: 9px 12px;
    z-index: 4;
    color: #fff;
    animation: fade-in 0.3s ease forwards;
    opacity: 1;
    -webkit-column-break-inside: avoid;
    -webkit-backface-visibility: hidden;
    font-size: 13px;
    line-height: 130%;
    border-radius: 6px;

    &::after {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        background-color: #2D3643;
        position: absolute;
        left: calc(50% - 8px);
        top: calc(100% - 12px);
        transform: rotate(45deg);
        border-radius: 2px;
        opacity: 1;
        z-index: -1;
    }
}

.form__subitem--w50 {
    @media screen and (min-width: $w1200) {
        max-width: 50%;
        width: 50%;
    }
}

.form__subitem--w25 {
    @media screen and (min-width: $w1200) {
        max-width: 25%;
    }
}

.flex-column {
    display: flex;
    gap: 30px;
}


.input-material.input-material--textarea {
    height: auto;
}

.input-material.input-material--textarea textarea {
    margin: 8px 0;
    background: transparent;
    border: transparent;
    height: 60px;
    min-height: 60px;
    padding: 0;
    text-transform: uppercase;
}

.ic_reverse {
    width: 18px;
    height: 17px;
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuODE2IDkuNzRhMSAxIDAgMDEwLTEuNDhsMi43NjItMi41MDZjLjY0My0uNTgzIDEuNjcyLS4xMjcgMS42NzIuNzR2NS4wMTJjMCAuODY3LTEuMDMgMS4zMjMtMS42NzIuNzRMMS44MTYgOS43NDF6IiBzdHJva2U9IiM5NEEzQjgiIHN0cm9rZS13aWR0aD0iMS41Ii8+PHBhdGggZD0iTTkgMXYxNiIgc3Ryb2tlPSIjOTRBM0I4IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PHBhdGggZD0iTTE2LjE4NCA5Ljc0YTEgMSAwIDAwMC0xLjQ4bC0yLjc2Mi0yLjUwNmMtLjY0My0uNTgzLTEuNjcyLS4xMjctMS42NzIuNzR2NS4wMTJjMCAuODY3IDEuMDMgMS4zMjMgMS42NzIuNzRsMi43NjItMi41MDV6IiBzdHJva2U9IiM5NEEzQjgiIHN0cm9rZS13aWR0aD0iMS41Ii8+PC9zdmc+);
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 10px;
    background-color: #f5f7fa;
}

.input-material.err {
    background-color: #fcc;
}

.popup-tooltip-box {
    background-color: #fff;
    padding: 15px
}


.confirm {
    padding: 36px;
}

.confirm__btn {
    display: flex;
    gap: 32px;
}

.confirm__title {
    text-align: center;
    padding-bottom: 24px;
    font-size: 18px;
}

.form-subcheckbox {
    display: flex;
    gap: 22px;
    align-items: center;
}



.form-subcheckbox__right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.form__finance .checkbox {
    padding-top: 18px;
    padding-bottom: 18px;
}



.group-subitem,
.form__item {
    &[disabled] {

        & .form-subcheckbox__right,
        & .input-material,
        & .af-select {
            pointer-events: none;
            filter: grayscale(1);
            opacity: 0.6;
            display: none;
        }



    }
}

@media screen and (max-width: $w576) {
    .form-subcheckbox {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-subcheckbox__right {
        flex-direction: row;
    }

    .form__finance .checkbox {
        padding-bottom: 15px;
        padding-top: 15px
    }

    .form__finance .form__item[disabled] .form__subitem {
        margin: 0
    }
}

.tooltip-box__title {
    font-weight: 600;
}

.tooltip-box__text {
    padding: 14px 0px;
}

div[data-fs=trip] label {
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    max-width: calc(50vw - 100px);
    overflow: hidden;
}