mixin profile
    section.section-profile
        .container
            .profile
                .profile__form 
                    form(action='#' method='POST')
                        .form
                          fieldset
                            legend Анкета
                            .form__item
                                .form__subitem: input(type="text" placeholder="Имя")
                                .form__subitem: input(type="text" placeholder="Имя")
                                .form__subitem: input(type="text" placeholder="Имя")
                                .form__subitem: input(type="text" placeholder="Имя")
                            .form__item
                                .form__subitem: input(type="text" placeholder="Имя")
                                .form__subitem: input(type="text" placeholder="Имя")
                                .form__subitem: input(type="text" placeholder="Имя")
                                .form__subitem: input(type="text" placeholder="Имя")