extends layouts/main

block variables
  include ../data/data.pug
  - const title = "Latwy start - Анкета"
 

block main

  include ../blocks/modules/profile/profile.pug

  +profile

 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 