include ../../common/main-menu/main-menu.pug
 
.footer(id="Contact") 
    .container 
        .footer-contact
            .footer-item
                .footer-item__label Phone
                .footer-item__link: a(href='tel:+13057777886') ☎ +13057777886
            .footer-item
                .footer-item__label Email 
                .footer-item__link: a(href='mailto:lanai101usa@gmail.com') lanai101usa@gmail.com
            .footer-item
                .footer-item__label Address 
                .footer-item__link: a(href='https://maps.app.goo.gl/ykdjaCZi9RD7gL7V6') 4931 SW 90 Way Cooper City 33328

        .footer-bottom
            .footer-bottom__com © Lanai101.com Poll, patio screen enclosure 
            .footer-bottom__copyright All rights Reserved