include ../../helpers/mixins.pug
 
 
.popup-form
    .popup-form__wrp
        .popup-form__title Want to get your project done?
        .popup-form__desc Contact us to discuss your project <br> and get the most fair offer.
        .popup-form__form
            a(href='tel:+13057777886'): button.btn Call us
            a(href='#form' data-scroll="smooth"): button.btn.btn-line Write to us