mixin crm
    .user-filelist
        .user-filelist__wrp
            .user-filelist__item
                a.user-file(href='#')
                    .user-file__name
                        span.ic_24(style="background-image: url('/img/common/folder-green.svg')")
                        | Ankieta
                    .user-file__desc Kwestionariusz klienta
                    .user-file__date 26.09.2024, 09:26
            .user-filelist__item
                a.user-file(href='#')
                    .user-file__name
                        span.ic_24(style="background-image: url('/img/common/folder-green.svg')")
                        | Oświadczenie
                    .user-file__desc Oświadczenie przekroczenie granicy bez wyjazdu
            .user-filelist__item
                a.user-file(href='#')
                    .user-file__name
                        span.ic_24(style="background-image: url('/img/common/folder-green.svg')")
                        | Wniosek
                    .user-file__desc Na utrzymaniu
                     
            .user-filelist__item
                a.user-file(href='#')
                    .user-file__name
                        span.ic_24(style="background-image: url('/img/common/folder-red.svg')")
                        | Oświadczenie
                    .user-file__desc Odpowiedzialności karnej
            
            .user-filelist__item
                a.user-file(href='#')
                    .user-file__name
                        span.ic_24(style="background-image: url('/img/common/folder-green.svg')")
                        | Wniosek
                    .user-file__desc o wydrukowanie karty pobytu bez zamieszczonego adresu
                  
            .user-filelist__item
                a.user-file(href='#')
                    .user-file__name
                        span.ic_24(style="background-image: url('/img/common/folder-green.svg')")
                        | Pełnomocnictwo
                    .user-file__desc Pełnomocnictwo