- 
  const app = {

    mainMenu: [ 
      { 
        text: 'Services',  
        href: '#Services', 
        icon: false
      },
      { 
        text: 'About us',  
        href: '#About', 
        icon: false
      },
      { 
        text: 'Projects',  
        href: '#Projects', 
        icon: false
      },
      { 
        text: 'Testimonials',  
        href: '#Testimonials', 
        icon: false
      },
      { 
        text: 'Contact us',  
        href: '#Contact', 
        icon: false
      },
     
     
    ],

    

   
  } 




